.grid-content .el-select .el-input__inner {
  padding: 0;
  background-color: transparent;
  font-size: 18px;
  color: rgba(103, 123, 158, 0.822);
  font-weight: 300;
}
.grid-content .el-select .el-input__inner::placeholder {
  font-weight: 300;
}
.grid-content i.el-input__icon.el-icon-date {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  vertical-align: middle;
  padding: 20px 0;
  margin-left: -3px;
}
.grid-content input.el-input__inner {
  color: rgba(103, 123, 158, 0.822);
  font-size: 16px;
  font-weight: 300;
}
.grid-content input.el-input__inner::placeholder {
  color: rgba(103, 123, 158, 0.822);
  font-size: 18px;
  opacity: 0.5;
  font-weight: 300;
}
.el-button--success {
  background-color: #98c253;
  border: 0;
}
.inputClinte::placeholder {
  color: rgba(103, 123, 158, 0.822);
  opacity: 0.5;
  font-weight: 300;
}
.info input {
  font-weight: 300;
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif;
}
.info input::placeholder {
  font-weight: 300;
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif;
}

.infoContract p {
  padding: 10px 0;
  color: rgba(67, 71, 87, 0.796);
  line-height: 1.4;
}
.infoContract h2 {
  font-size: 18px;
  color: rgba(10, 15, 44, 0.78);
}
.infoContract i {
  color: rgba(10, 15, 44, 0.78);
}
.quotation .el-radio + .el-radio {
  margin-left: 0;
}
.quotation .el-radio__input.is-checked + .el-radio__label {
  color: #98c253;
}
.quotation .el-radio__input.is-checked .el-radio__inner {
  border-color: #98c253;
  background: #98c253;
}
.quotation .el-radio__inner:hover {
  border-color: #98c253;
}
.quotation .el-radio {
  color: rgba(37, 42, 68, 0.623);
}
/* #signature {
  border: double 3px transparent;
  border-radius: 5px;
  background-image: linear-gradient(white, white),
    radial-gradient(circle at top left, #4bc5e8, #9f6274);
  background-origin: border-box;
  background-clip: content-box, border-box;
} */
.quotation .swiper-wrapper {
  width: 350px;
}
.index .swiper-wrapper {
  width: 350px;
}
.description p {
  /* font-style: normal;
  text-transform: unset; */
}
.description i {
  font-style: normal;
}